.form-ide{
    display: flex;
}

.code-area{
    width:50%;

}
.input-area{
    width:50%;
}

textarea{
    padding:10px;
    width:100%;
}

.btn-submit{
    margin-top: 0px;
    height:10%;
    width:10%;
    font-size: large;
}

#language{
    width:10%;
    padding:5px;
    margin-right: 15px;
}

.sect-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}